@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');

html {
    box-sizing: border-box;
    overflow-y: scroll;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,.75);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 10 !important;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.logo {
    flex-shrink: 0;
    height: 70px;
    width: 50px;
    padding: 5px;
    margin-right: 20px;
}

.links {
    display: flex;
    flex-shrink: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 100px;
}

.links a {
    font-size: 18px;
    font-family: "Roboto Serif", sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: rgb(39, 26, 89);
}

.search {
    display: flex;
    flex-shrink: 0;
}

input {
    padding: 5px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.15);
    border-radius: 10px;
    margin-right: 10px;
    width: 150px;
}

.search img {
    max-width: 25px;
    max-height: 25px;
}

.footer {
    display: flex;
    background-color: rgb(39, 26, 89);
    color: white;
    font-size: 18px;
    font-family: "Roboto Serif", sans-serif;
    align-items: center;
    justify-content: center;
    height: 75px;
    flex-shrink: 0;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Hero section */

.body .hero-section {
    display: flex;
    background-color:rgb(39, 26, 89);
    align-items: center;
    justify-content: center;
    padding: 150px 75px;
}

.body .hero-text {
    margin-right: 100px;
}

.body .hero-section .heading {
    color: white;
    font-family: "Roboto Serif", sans-serif;
    font-size: 66px;
    font-weight: bold;
    margin-bottom: 25px;
}

.body .hero-section .text {
    color: white;
    font-family: "Roboto Serif", sans-serif;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 30px;
}

.body .hero-section button{
    border: 1px solid white;
    background-color: rgba(255, 255, 255,0.00);
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.25);
    border-radius: 20px;
    padding: 5px 20px;
}

.body .hero-section a {
    text-decoration: none;
    color: white;
    font-family: "Lato";
    font-size: 20px;
}

.body .hero-section img {
    width: 450px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.50);
}

/* Our services section */

.services-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0;
    padding-bottom: 100px;
    background-color: white;
}

.services-section .heading {
    color:rgb(39, 26, 89);
    font-family: "Lato", sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 75px;
}

.services {
    display: flex;
    justify-content: space-around;
    gap: 125px;
}

.service img {
    width: 150px;
    height: auto;
}

.service .text {
    font-family: "Roboto Serif", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color:rgb(39, 26, 89);
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Mission section */

.mission-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 75px 150px;
    padding-bottom: 100px;
}

.mission-section .heading {
    color: #1F2937;
    font-family: "Lato", sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
    padding: 0px;
}

.mission-text{
    font-family: "Roboto Serif", sans-serif;
    font-size: 26px;
    color: #1F2937;
    text-align: justify;
}

/* Contact us section */

.contact-section {
    background-color: white;
    padding: 100px 150px;
}

.contact-window {
    display: flex;
    background-color: rgb(39, 26, 89);
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 125px;
    border-radius: 10px;
}

.contact-button button {
    border: 1px solid white;
    background-color: rgba(255, 255, 255,0.00);
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.25);
    border-radius: 20px;
    padding: 5px 20px;
}

.contact-button a {
    text-decoration: none;
    color: white;
    font-family: "Lato";
    font-size: 20px;
}

.call-to-action {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 28px;
    color: white;
    margin-bottom: 5px;
}

.contact-text .text {
    font-family: "Roboto Serif", sans-serif;
    color: white;
    font-size: 20px;
}

/* About Us web page */

.about-us {
    display: flex;
    flex-direction: column;
    padding: 110px 200px;
    align-items: center;
    padding-bottom: 150px;
}

.about-us .heading {
    color:rgb(39, 26, 89);
    font-family: "Lato", sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
}

.about-us .text {
    font-family: "Roboto Serif", sans-serif;
    font-size: 24px;
    text-align: justify;
    color: #1F2937;
}

.mission {
    background-color: rgb(39, 26, 89);
    display: flex;
    flex-direction: column;
    padding: 110px 200px;
    align-items: center;
    padding-bottom: 150px;
}

.mission .heading {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
}

.mission .text {
    font-family: "Roboto Serif", sans-serif;
    font-size: 24px;
    text-align: justify;
    color: white;
}

.vision {
    display: flex;
    flex-direction: column;
    padding: 110px 200px;
    align-items: center;
    padding-bottom: 150px;
}

.vision .heading {
    color:rgb(39, 26, 89);
    font-family: "Lato", sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
}

.vision .text {
    font-family: "Roboto Serif", sans-serif;
    font-size: 24px;
    text-align: justify;
    color: #1F2937;
}

.core-values {
    background-color: rgb(39, 26, 89);
    display: flex;
    flex-direction: column;
    padding: 110px 200px;
    align-items: center;
    padding-bottom: 150px;
}

.core-values .heading {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
}

.core-values img {
    border-radius: 15px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.50);
}

.president {
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
    align-items: center;
    padding-bottom: 150px;
}

.president .heading {
    color:rgb(39, 26, 89);
    font-family: "Lato", sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
}

.president .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.president img {
    border-radius: 50%;
    width: 250px;
    height: auto;
}

.president .name {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color:rgb(39, 26, 89);
    margin-bottom: 10px;
}

.president .text {
    font-family: "Roboto Serif", sans-serif;
    font-size: 20px;
    text-align: justify;
    color: #1F2937;
}

.president .sub-heading {
    color:rgb(39, 26, 89);
    font-family: "Lato", sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.president .affiliation {
    display: flex;
    align-items: center;
    gap: 75px;
    width: 900px;
}

.affiliation .entity {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 22px;
    color:rgb(39, 26, 89);
    margin-bottom: 10px;
}

.entity-logo {
    display: flex;
}

.entity-logo img {
    width: 200px;
    height: auto;
}

.affiliation .text {
    margin-bottom: 30px;
}

/* Services web page */

.accounting, .audit, .taxation, .mas, .bpto, .payroll, .others {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-webpage .webpage-title {
    font-family: "Lato", sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
    color:rgb(39, 26, 89);
}

.services-webpage .heading {
    font-family: "Lato", sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.accounting .heading {
    color:rgb(39, 26, 89);
    margin-bottom: 25px;
}

.taxation .heading {
    color:rgb(39, 26, 89);
    margin-bottom: 25px;
}

.bpto .heading {
    color:rgb(39, 26, 89);
    margin-bottom: 25px;
}

.others .heading {
    color:rgb(39, 26, 89);
    margin-bottom: 25px;
}

.audit .heading {
    color: white;
    margin-bottom: 25px;
}

.mas .heading {
    color: white;
    margin-bottom: 25px;
}

.payroll .heading {
    color: white;
    margin-bottom: 25px;
}

.audit ul {
    color: white;
}

.mas ul {
    color: white;
}

.payroll ul {
    color: white;
}

.services-webpage ul {
    font-family: "Roboto Serif", sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.accounting, .taxation, .bpto, .others {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    padding-bottom: 100px;
}

.audit, .mas, .payroll {
    background-color: rgb(39, 26, 89);
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    padding-bottom: 100px;
}

/* Contact Us web page */

.contact-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
}

.contact-body .webpage-title {
    font-family: "Lato", sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
    color:rgb(39, 26, 89);
}

.contact-body .heading {
    font-family: "Roboto Serif", sans-serif;
    color:rgb(39, 26, 89);
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-body .text {
    font-family: "Roboto Serif", sans-serif;
    color: #1F2937;
    font-size: 18px;
    margin-bottom: 50px;
}